body {
  background: #95afc0;
  padding: 3rem 2rem 2rem; 
}

h1.MuiTypography-h1 {
  margin-bottom: 1.5rem;
}

.App {
  text-align: center;
}

.MuiTableHead-root .MuiTableCell-root {
  font-weight: bold;
}

.MuiTableBody-root .MuiTableRow-root {
  cursor: pointer;
}

.MuiTableBody-root .MuiTableRow-root:hover {
  background: rgb(245, 243, 243);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
